{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Sale'}, 'Sale') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerSalesBundle::appnav.html.twig", { 'app_sale': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1></h1>
    </section>
    <section class="content">
        <div class="box" multi-app="flowerSales">
            <toaster-container ></toaster-container>
            <div class="box-body" ng-view>
                Loading...
            </div>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var saleId = "{{ sale.id }}";
        var type = "sale";
    </script>

    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>

    <script src="{{ asset('bundles/flowercore/js/angular/sales/app-sales.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/accountService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/productService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/serviceService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/activityService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/contactService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/saleService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/saleStatusService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/subsidiaryService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/saleCategoryService.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sales/services/paymentMethodService.js') }}" type="text/javascript"></script>

    <script src="{{ asset('bundles/flowercore/js/angular/sales/controller/salesController.js') }}" type="text/javascript"></script>


    </script>
{% endblock %}