{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ 'Stadistics'|trans({}, 'Sale') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerSalesBundle::appnav.html.twig", { 'app_sale': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{'Stadistics' |trans({}, 'Sale') }}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-sm" href={{ path('sale_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Sale'}, 'Sale') }}
                    </a>
                    <div class="btn-group">
                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            <i class="fa fa-download"></i> {{ '%entity%'|trans({'%entity%': 'Export'}, 'Sale') }}
                        </button>
                        <ul class="dropdown-menu" style="min-width: inherit;">
                            <li>
                                <a class="btn btn-link btn-sm"
                                   href={{ path('sale_export' , {'page':paginator.currentPageNumber}) }} style="color:#CC3E32;">
                                    {{ 'This %entity%'|trans({'%entity%': 'Page'}, 'Sale') }}
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-link btn-sm" href={{ path('sale_export') }} style="color:#CC3E32;">
                                    {{ 'All %entity%'|trans({'%entity%': 'Pages'}, 'Sale') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="box-body">
                
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
    </script>
{% endblock %}
