{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'PaymentMethod'}, 'PaymentMethod') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            <a href="{{ path('paymentmethod') }}"> {{ '%entity% List'|trans({'%entity%': 'PaymentMethod'}, 'PaymentMethod') }}</a>
            /
            {{ 'PaymentMethod' | trans({}, 'PaymentMethod')}}
        </h1>

    </section>        
    <section class="content">
        <div class="box">
            <div class="box-body">
                {{ form_start(form, {action: path('paymentmethod_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn-default btn" type="submit">{{ 'save'|trans | capitalize}}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">
                        
        <div class="btn-group record_actions"></div>

            </div>
        </div>
    </section>
{% endblock %}
